@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    Hvor lang tid tar det å gå til Ørsta rådhus??
    <p> @Model.Message</p>

</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="map" style="height:680px"></div>

<form asp-controller="Home" asp-action="Index" method="post" id="mapInputForm">
    @Html.ValidationSummary()
    @Html.DisplayNameFor(x => x.NewMessage)
    @Html.ValidationMessageFor(x => x.NewMessage)
    @Html.TextBoxFor(x => x.NewMessage, new { @class = "form-control" })

    @Html.LabelFor(x => x.Number)
    @Html.ValidationMessageFor(x => x.Number)
    @Html.HiddenFor(x=>x.Hidden, new {@id = "hiddenField"})
    @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
    <input type="button" value="Send" onclick="submitForm()"/>
</form>
@section Scripts {
    <script>
        https://leafletjs.com/reference.html
        https://www.geoman.io/docs/
        function submitForm() {
            var response = "";
            var markers = L.PM.Utils.findLayers(map);
            markers.forEach((x) => {
                if (x.options.pane === 'markerPane') { 
                    response += "Found marker: " + x._latlng
                }
                if (x.options.pane === 'overlayPane') { 
                    response += "Found drawing: ";
                    x._latlngs.forEach((lt) => { response += "---"+lt; });
                }
            });
            document.getElementById("hiddenField").value = response;
            document.getElementById("mapInputForm").submit();
        }

        var map = L.map('map').setView([58.164048, 8.004007], 13); //initial location (can this be fetched from device? )
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        map.pm.addControls({
            position: 'topleft',
            drawCircleMarker: false,
            rotateMode: false,
        });
   
    </script>
}